[package]
name = "vyper"
version = "0.1.0"
authors = ["David Sanders <david@ethereum.org>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/davesque/rust-vyper"
description = "An implementation of the Vyper smart contract language"
keywords = ["ethereum", "vyper", "yul", "smart", "contract"]
categories = ["cryptography::cryptocurrencies", "command-line-utilities", "development-tools"]
readme = "README.md"

[workspace]
members = [".", "parser", "compiler"]

[dependencies]
vyper-parser = {path = "parser", version = "0.1.0"}
vyper-compiler = {path = "compiler", version = "0.1.0"}
clap = { version = "2.33", features = ["yaml"] }