[package]
name = "fe-mir"
version = "0.24.0"
authors = ["The Fe Developers <snakecharmers@ethereum.org>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/ethereum/fe"

[dependencies]
fe-common = { path = "../common", version = "^0.24.0"}
fe-parser = { path = "../parser", version = "^0.24.0"}
fe-analyzer = { path = "../analyzer", version = "^0.24.0"}
salsa = "0.16.1"
smol_str = "0.1.21"
num-bigint = "0.4.3"
num-traits = "0.2.14"
num-integer = "0.1.45"
id-arena = "2.2.1"
fxhash = "0.2.1"
dot2 = "0.1.0"
indexmap = "1.6.2"

[dev-dependencies]
test-files = { path = "../test-files", package = "fe-test-files" }
fe-library = { path = "../library" }
